<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><!--% title %--></title>
        <link rel="stylesheet" href="/03-resources/style.css" />
        <!--% pre_body %-->
    </head>
    <body>
        <header id="navigation" class="p-navigation is-dark">
            <!--% navigation %-->
        </header>

        <section class="p-strip--light is-bordered hero-section">
            <!--% hero_section %-->
        </section>

        <main class="row">
            <!--% main_content %-->
        </main>

        <footer>
            <h2>virtual.blue</h2>
        </footer>

        <!--% post_footer %-->
    </body>
</html>
