<div class="p-navigation__row">
    <!--% banner %-->
    <nav class="p-navigation__nav" aria-label="Example sub navigation">
        <ul class="p-navigation__items">
            <!--% items %-->
        </ul>
        <ul class="p-navigation__items">
            <li class="p-navigation__item--dropdown-toggle" id="link-4">
                <a class="p-navigation__link" aria-controls="account-menu">
                    My account
                </a>
                <ul class="p-navigation__dropdown--right" id="account-menu" aria-hidden="true">
                    <li>
                        <a href="#" class="p-navigation__dropdown-item">Sign out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
