<div class="p-navigation__banner">
    <div class="p-navigation__tagged-logo">
        <a class="p-navigation__link" href="#">
            <span class="p-navigation__logo-title">
                <img class="nav-vb-logo" src="https://virtual.blue/resources/img/vb-small-dark-bg.png" alt="virtual.blue logo">
            </span>
        </a>
    </div>
    <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
    <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
</div>
