<li class="p-navigation__item--dropdown-toggle" id="link-3">
    <a href="#link-3-menu" aria-controls="link-3-menu" class="p-navigation__link">Resources</a>
    <ul class="p-navigation__dropdown" id="link-3-menu" aria-hidden="true">
        <li>
            <a href="#" class="p-navigation__dropdown-item">Point Drag Controls</a>
        </li>
        <li>
            <a href="#" class="p-navigation__dropdown-item">Delay Proxy</a>
        </li>
        <li>
            <a href="#" class="p-navigation__dropdown-item">TaskPipe</a>
        </li>
    </ul>
</li>
