<li class="p-navigation__item--dropdown-toggle" id="link-2">
    <a href="#link-2-menu" aria-controls="link-2-menu" class="p-navigation__link">Services</a>
    <ul class="p-navigation__dropdown" id="link-2-menu" aria-hidden="true">
        <li>
            <a href="#" class="p-navigation__dropdown-item">Web & Mobile Apps</a>
        </li>
        <li>
            <a href="#" class="p-navigation__dropdown-item">Legacy Code</a>
        </li>
        <li>
            <a href="#" class="p-navigation__dropdown-item">Migrations</a>
        </li>
        <li>
            <a href="#" class="p-navigation__dropdown-item">Replacement Systems</a>
        </li>
    </ul>
</li>
