<div class="p-card">
    <div class="row">
        <div class="col-4">
            <img src="https://virtual.blue/resources/img/isdc-zoom.png">
        </div>
        <div class="col-8">
            <h3>Raku Prodigy ISDC</h3>
            <p class="p-card__content">
                Are you a rising coding talent with a flair for innovative system development?
                Make a name for yourself by winning our <a href="https://virtual.blue/isdc">web development competition</a>.
            </p>
        </div>
    </div>
</div>
