<div class="<!--% parent_classes %-->">
    <div class="p-card__content">
        <img class="p-card__image" alt="" src="https://virtual.blue/resources/img/home/Code%20Warranty.svg">
        <h4>
            Code Warranty
        </h4>
        <p class="u-no-padding--bottom">As standard we continue to provide support for 6 months after you have accepted the code. This includes explaining usage, performing minor adjustments and ironing out any bugs. Subject to contract terms.</p>
    </div>
</div>
