<div class="<!--% parent_classes %-->">
    <div class="p-card__content">
        <img class="p-card__image" alt="" src="https://virtual.blue/resources/img/home/Tailor%20Made%20Solutions.svg">
        <h4>
            Tailor Made Solutions
        </h4>
        <p class="u-no-padding--bottom">When evaluating your case we'll consider your individual requirements, your specific business needs and the particular problem you are facing - so we'll always propose solutions which are uniquely tailored to your situation.</p>
    </div>
</div>
